*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}
table,th, td, tr{
    border: 1px solid black;
}
th{
    background-color: gray;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 4px;
    padding: 2px;
    width: 90%;
    font-size: 1.2rem;
}
button{
    margin: 4px;
    padding: 3px;
    width: 100px;
    width: 90%;
}
td.palette, td.code, td.codeart{
    text-align: center;
}
td.qteinv{
    text-align: right;
}

td{
    padding: 0 2px;
}
