@font-face {
    font-family: "MaPolice";
    src: url("IDAutomationHC39M.ttf") format("truetype");
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    text-align: center;
    padding: 20px;
    /* width: 100vw; */
  }
  input {
    margin-bottom: 20px;
    z-index: 1000;
  }
  .app {
    /* display: flex; */
    /* height: calc(90vh - 90px); */
    /* position: relative; */
    /* justify-content: space-between; */
  }
  .display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
    /* height: 100%; */
    /* position: absolute; */
    width: 100%;
  }
  .number {
    font-size: 150%;
    flex: 1;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "MaPolice", Arial, Helvetica, sans-serif;
  }
  .designation {
    font-size: 2rem;
  }
  .quantite {
    font-size: 4rem;
    background-color: beige;
  }
  .button {
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    opacity: 0.05;
    width: 25vw;
    z-index: 4;
    overflow: hidden;
  }
  .buttonleft {
    background-color: #d63384;
    left: 0;
    
  }
  .buttonright {
    background-color: #20c997;
    right: 0;
  }
  .indexPage {
    background-color: black;
    color: aliceblue;
    display: block;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px auto;
    font-size: 1.5rem;
    visibility: hidden;
  }